.App {
  text-align: center;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: flex-start;
}

.input_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 250px

}
.title{
  height:50px
}

.textarea {
  height: 100px
}

.list {
  
}

.chosenSnippet {
  margin-left: 50px
}

button{
  margin: 0.2rem;
  border: 0.1rem groove black; 
  border-radius: 0.3rem;
  font-size: 1rem;
  background: orangered;
  color: white;
 }

