.App {
  text-align: center;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: column wrap;
  justify-content: flex-start;
}

.input_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column wrap;
  justify-content: flex-start;

}

.list {
  
}

.chosenSnippet {

}

